@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
